/* Styles for the main container */
.dashboard-container {
    background-color: #13294B;
    color: white;
  }

  /* Dashboard.css */

.dashboard-title {
  text-align: center; /* Center the title text */
  margin: 20px 0; /* Add some space above and below the title */
  font-size: 1.5rem; /* Adjust the font size as needed */
}

  
  /* Styles for the component boxes */
  .component-box {
    background-color: white;
    color: black;
    border: 3px solid #79aaf4 !important;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
  }
  
  .large-gap {
    margin-top: 100px; /* Adjust the value as needed for the desired gap size */
  }

  .main-content {
    margin-left: 150px; /* Match the sidebar width */
    padding: 1rem;
}

.row-separator {
  border-bottom: 1px solid #ddd; /* Light gray border */
  margin-bottom: 20px; /* Spacing below the line */
}
